<div class="form-group">
    <h1>Welcome to Energy Live</h1>  
    <p>Energy Live is a blockchain based software platform and
      an energy ecosystem service that connect people. It can bridge the 
      gap between solar energy generators and elctricity consumers including EV owners.
      Its an application that makes sure your asset is stored and 
      maintained in an immutable ledger. Be self powered.</p>
    </div>  
       <div class="form-group">
          <p><a [routerLink]=" ['./register'] ">Register</a> </p>
          <p><a [routerLink]=" ['./login'] ">Login</a></p>
      </div>

