<!-- main app container -->
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 offset-sm-3">
                <alert></alert>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>

<!-- credits -->
<div class="text-center">
    <p>
        <a href="https://www.linkedin.com/in/deepak-damodaran-a5a6b0157" target="_top">Solar Energychain to provide reliable & scalable energy echo system</a>
    </p>
    
</div>