<!DOCTYPE html>
<html>

<head>
<title>My Energy Data</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<style>
</style>
 <link rel="stylesheet" href="energy.component.css"/>

<div class="centered"></div>
<div class="card"> 
<img src="L86xyLF4_400x400.jpg" alt="John" height="250" width="80" style="width:100%">
   <h1><strong id="user-name">Arun Kumar Peruvel</strong></h1>
   <p class="title">FBT00000021</p>
   <h5>arunkumarpvl91@gmail.com</h5>
   <h4>A/C status:<span class="tags" id="user-status">Active</span></h4>
   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 divider text-center"></div>
   <h4>Meter Ids: <span > AQ45673, PR65743</span></h4>   
   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 divider text-center"></div>
   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 divider text-center"></div>
   <div class="col-lg-6 left" style="text-align:center;overflow-wrap: break-word;">
   <h4>Energy balance :<span > 245 KWh</span></h4> 
   <h4>Main balance :<span > 2450 Rs</span></h4> 
   </div>
     <button>Update</button>
     <button>Logout</button>
    </div> 
</div>  

<p></p>
 <div class="centered"></div> 
 <div class="input">
                               
                <button>Generate</button><span >
                <input type="text" name="KWh"></span>
                <button>Consume</button>
                <input type="text" name="KWh">
                
                </div>
  </head>         
 </head>
 </html>
 

<!--h2>Solar Energy</h2>
<form [formGroup]="energyForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="username">Generated Energy</label>
        <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">Username is required</div>
        </div>
    </div>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">Add Solar Energy</button>
        <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
    </div>
</form>
