<h1 class="register-title">Create an account</h1>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="register">
    <input type="email" class="register-input" placeholder="Email address" formControlName="email">
    <input type="password" class="register-input" placeholder="Password" formControlName="password">
    <input type="Name" class="register-input" placeholder="Name" formControlName="firstName">
    <input type="address" class="register-input" placeholder="Address" formControlName="lastName">
    <input type="Mobile" class="register-input" placeholder="Mobile" formControlName="mobile">
    
    <input type="submit" value="submit" class="register-button">
    <input type="button" value="Cancel" [routerLink]="['']" class="register-button">
</form>
 