
<!DOCTYPE html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]> <html class="lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]> <html class="lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>LOGIN</title>
  <link rel="stylesheet" href="style.css">
  <!--[if lt IE 9]><script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body>
   <div class="centered">
    <div class="circle">   
      <p>.</p>  
  <h2>Login to console</h2>
  <circle class="register">    
    <input type="email" class="register-input" placeholder="Email address">
    <input type="password" class="register-input" placeholder="Password">

    <p><button class="button">login</button></p>
  </div>

    <!--input type="submit" value="Login" class="button"-->
        </div>  
        <div class = "glow"><h3>.</h3>  
  </div>
  </body>
  </html>
  </body>
  </html>








<!--DOCTYPE html>
<html>
<head>
  <title>Energy Live</title>
  <link rel="stylesheet" href="../styles.css">
</head>

<body>    
  <div class="form">  
      <h2>Login</h2>
        
        <label for="username">Username</label>
        <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
        <div *ngIf="f.username.errors.required">Username is required</div>
       
   
        <label for="password">Password</label>
        <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
        <div *ngIf="f.password.errors.required">Password is required</div>
    
        <button [disabled]="loading" class="btn btn-primary">Login</button>
       
        <a [routerLink]="['/energy']" class="btn btn-link"></a>
    </div>
</form>
</div>
</div>
</body>
