/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
body{
    background-image: url(3.jpg);
height: 100vh;
background-size: cover;
background-position: center;
background-repeat: no-repeat;

    
}

.center {
  margin: auto;
  width: 60%;
  padding: 10px;
}

ul{
margin-left: 170px;
margin-right: 100px;
padding: 0px;
list-style: none;
}
ul li{
float: left;
width: 200px;
height: 40px;
background-color: white;
opacity: .8;
line-height: 40px;
text-align: center;
font-size: 20px;    
margin-right: 2px;
}
a{
text-decoration: none;
color: black;
display: block;
}
/*a:hover{
background-color: whitesmoke;
}*/
.form{
position: static;
z-index: 1;
background:#c5d3c7;
max-width: 250px;
margin-top: 80px;
margin-bottom: 400px;
margin-left: auto;
margin-right: auto;
padding: 15px;
text-align: center;
background-image: linear-gradient(to bottom, #0c8b94, #0d3041);
box-shadow: inset 0 -1px rgba(0, 0, 0, 0.03), 0 1px rgba(0, 0, 0, 0.04);
opacity: 0.85;
}
.form input{
font-family: "Calibri",sans-serif;
outline: 1;
background: #f2f2f2;
width: 100%;
border: 0;
border: 1px solid #ccc;
border-radius: 4px;
margin: 0 0 15px;
padding: 15px;
box-sizing: border-box;
font-size: 14px;
border-bottom: 1px solid #d8d8d8;
resize: vertical;
}
.form button{
font-family: "Calibri",sans-serif;
text-transform: uppercase;
outline: 0;
padding: 5px;
color: #FFFFFF;
font-size: 14px;
float: right;
cursor: pointer;
display: block;
  width: 50%;
  height: 42px;
  margin-top: 20px;
  font-size: 16px;
  font-weight: normal;
  color: #ffffff;
  text-align: center;
  text-shadow: 0 1px rgba(255, 255, 255, 0.5);
  background: #fcfcfc;
  border: 1px solid;
  border-color: #3d3b3b #363535 #070707;
  border-radius: 2px;
  cursor: pointer;
  opacity: 0.85;
  background-image: linear-gradient(to bottom, #1e4c61, #010405);
  box-shadow: inset 0 -1px rgba(0, 0, 0, 0.03), 0 1px rgba(0, 0, 0, 0.04);
}
.button:after {
  content: "";
  background: rgb(144, 238, 233);
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}
.button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}
.form .login-form .button{
font-family: "Roboto",sans-serif;
text-transform: uppercase;
outline: 0;
background: rgb(20, 197, 26);
width: 100%;
border: 0;
padding: 15px;
color: #FFFFFF;
font-size: 14px;
cursor: pointer;

display: block;
  width: 100%;
  height: 42px;
  margin-top: 25px;
  font-size: 16px;
  font-weight: bold;
  color: #494d59;
  text-align: center;
  text-shadow: 0 1px rgba(255, 255, 255, 0.5);
  background: #fcfcfc;
  border: 1px solid;
  border-color: #d8d8d8 #d1d1d1 #c3c3c3;
  border-radius: 2px;
  cursor: pointer;
  background-image: linear-gradient(to bottom, #60a83a, #7dbe52);
  box-shadow: inset 0 -1px rgba(0, 0, 0, 0.03), 0 1px rgba(0, 0, 0, 0.04);


}
.form .REgister{

display: none;

}
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
/* Floating column for labels: 25% width */
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}
/* Floating column for inputs: 75% width */
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
.form paragraph {
   
    font-family:proxima-nova, sans-serif !important;
    font-style: normal;
    font-size: 12px;
    font-weight:400;
    letter-spacing: 3px;
    color: #b5d9e4;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.5em;
    
}
.form h1 {
   
  font-family:proxima-nova, sans-serif !important;
  font-style:normal ;
  font-size: 20px;
  font-weight:bold;
  letter-spacing: 3px;
  color: #ffffff;
  text-transform: uppercase;
  line-height: 1.5em;
  
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  max-height:1200px;
  margin: auto;
  margin-top : 50px
  
}

.glow {
  font-size: 10px;
  font-family:proxima-nova, sans-serif !important;
  letter-spacing: 1px;
  color: rgb(72, 223, 228);
  text-align: center;
  margin-left:-568px;
  margin-top : -715px;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 5px rgb(243, 85, 132),0 0 11px rgb(236, 51, 196),0 0 10px #fff, 0 0 20px rgb(179, 10, 10), 0 0 30px #2825cc, 0 0 40px #403de0, 0 0 50px #2935e0, 0 0 60px #2825cc, 0 0 70px #403de0, 0 0 80px #2935e0,0 0 140px #2825cc, 0 0 200px #2825cc, 0 0 280px #2935e0;

  }
  
  to {
    text-shadow: 0 0 7px rgb(202, 40, 121),0 0 20px #fff, 0 0 30px #4df3ff, 0 0 40px #4df3ff, 0 0 50px #4df3ff, 0 0 60px #4df3ff, 0 0 70px #4df3ff, 0 0 80px #4df3ff, 0 0 100px #4df3ff;
  }
}

